<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="elevator" transaction-type="RESOURCE_LOCAL">

        <class>ru.company.elevator.entity.document.BaseConsignmentNote</class>
        <class>ru.company.elevator.entity.document.ConsignmentNoteReceipt</class>
        <class>ru.company.elevator.entity.document.ConsignmentNoteConsignment</class>
        <class>ru.company.elevator.entity.Barn</class>
        <class>ru.company.elevator.entity.transport.Vehicle</class>
        <class>ru.company.elevator.entity.transport.Model</class>
        <class>ru.company.elevator.entity.organization.Organization</class>
        <class>ru.company.elevator.entity.medical.MedicalExamination</class>
    </persistence-unit>
</persistence>
